<h2 id="title">Welcome to the ember-table-exporter example page</h2>

{{outlet}}

{{#table-exporter-xlsx
  filename='my-fine-data.xlsx'
  data=myData
  worksheetTitle='Historical weather data'
}}
  Download ALL THE DATA!
{{/table-exporter-xlsx}}

{{#table-exporter-csv
  filename='my-fine-data.csv'
  data=myData
}}
  I prefer plain text
{{/table-exporter-csv}}

<p>
  <b>Hint:</b> Look at <code>application.hbs</code> to see what's going on.
</p>